<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>
<div class='list-items'>
  {{#each movies}}
    <div class='item'>
      <picture>
        <img src='{{this.image}}' alt='Image of {{this.title}}' />
      </picture>
      <h2>{{this.title}}</h2>
      <a href='./movie/{{this.id}}'>See more</a>
    </div>
  {{/each}}
</div>